.links {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 500px;
    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;
        width: auto;
        width: 130px;
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

        .options{
            position: absolute;
            top: 50px;
            right: 0;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            z-index: 999;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 200px;
            font-weight: 300;
            color: gray;
        }
    }

    button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            background-color: #1dbf73;
            border-color: #1dbf73;
        }
    }
}